.title{
  background: url(../../static//images/12_daniel_can_bc-207.jpg);
  min-width: 100%;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -20;
  overflow: hidden;
}
/* .title__image{
  width: 100%;
  max-height: 400px;
  image-rendering: optimizeQuality;
} */